@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lora|Oswald|Permanent+Marker|Prompt|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/*Navigation Tab*/
#navTopBar{
    z-index: 99999;
    position: fixed;
    top: 0;
    height: 50  px;
    width:100%;
    background-color: #4862b9;
    transition: top 0.2s;
}
#navTopBar a {
    height: 100%;
    color: #d2fdff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: block;
    float: right;
    padding:10px 14px;
    text-decoration: none;
    font-size: 1.4vw;
    border-radius: 10px;
}
#navTopBar a:hover { 
    background-color: aliceblue;
    color: #000000e7;
}
#navTopBar #home{
    float: left;
}

/*About me*/
#ABMe {
    margin: 0;
    display: flex;
    justify-content: center;    
    height:100vh;
    width: 100%;
    background-image: url(../images/coding.jpg);
    background-size: cover;
}
#myPicture {
    position: relative;
    top: 15%;
    border-radius: 40%;
    border-style: double;
    border-color: #4862b9;
    max-width: 55vw;
    max-height: 55vh;
}
#description {
    background-color: #5067afc4;
    border-radius: 45px;
    text-align: center;
    max-height: 50%;
    max-width: 50%;
    border-style: solid;
    color: #f7f9ff;
    position: relative;
    top: 15%;
    font-family: 'Lora', serif;
    font-size: 1.6vw;
}
body {
    scroll-behavior: smooth;
    margin: 0;
    padding:0;
    background-size: cover;
    background-attachment: fixed;;
    background-image: url(../images/coding.jpg);
}   